---
layout: default
---

<div class="home">

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page == 1 %}
      <a href="/" class="previous">&#x293a;Newer</a>
    {% else %}
      {% if paginator.previous_page %}
        <a href="/page{{ paginator.previous_page }}" class="previous">&#x293a;Newer</a>
      {% else %}
        <span class="previous">&#x293a;Newer</span>
      {% endif %}
    {% endif %}
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}" class="next">Older&#x293b;</a>
    {% else %}
      <span class="next ">Older&#x293b;</span>
    {% endif %}
  </div>

  <h1 class="page-heading">Posts</h1>

  <!-- This loops through the paginated posts -->
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.content | truncatewords: 48 }}</p>
      </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
